#tile-grid span:nth-child(1) { animation-delay: calc(0.05s * var(--animation-speed)); }
#tile-grid span:nth-child(2) { animation-delay: calc(0.1s * var(--animation-speed)); }
#tile-grid span:nth-child(3) { animation-delay: calc(0.15s * var(--animation-speed)); }
#tile-grid span:nth-child(4) { animation-delay: calc(0.2s * var(--animation-speed)); }
#tile-grid span:nth-child(5) { animation-delay: calc(0.25s * var(--animation-speed)); }
#tile-grid span:nth-child(6) { animation-delay: calc(0.3s * var(--animation-speed)); }
#tile-grid span:nth-child(7) { animation-delay: calc(0.35s * var(--animation-speed)); }
#tile-grid span:nth-child(8) { animation-delay: calc(0.4s * var(--animation-speed)); }
#tile-grid span:nth-child(9) { animation-delay: calc(0.45s * var(--animation-speed)); }
#tile-grid span:nth-child(10) { animation-delay: calc(0.5s * var(--animation-speed)); }
#tile-grid span:nth-child(11) { animation-delay: calc(0.55s * var(--animation-speed)); }
#tile-grid span:nth-child(12) { animation-delay: calc(0.6s * var(--animation-speed)); }
#tile-grid span:nth-child(13) { animation-delay: calc(0.65s * var(--animation-speed)); }
#tile-grid span:nth-child(14) { animation-delay: calc(0.7s * var(--animation-speed)); }
#tile-grid span:nth-child(15) { animation-delay: calc(0.75s * var(--animation-speed)); }
#tile-grid span:nth-child(16) { animation-delay: calc(0.8s * var(--animation-speed)); }
#tile-grid span:nth-child(17) { animation-delay: calc(0.85s * var(--animation-speed)); }
#tile-grid span:nth-child(18) { animation-delay: calc(0.9s * var(--animation-speed)); }
#tile-grid span:nth-child(19) { animation-delay: calc(0.95s * var(--animation-speed)); }
#tile-grid span:nth-child(20) { animation-delay: calc(1s * var(--animation-speed)); }
#tile-grid span:nth-child(21) { animation-delay: calc(1.05s * var(--animation-speed)); }
#tile-grid span:nth-child(22) { animation-delay: calc(1.1s * var(--animation-speed)); }
#tile-grid span:nth-child(23) { animation-delay: calc(1.15s * var(--animation-speed)); }
#tile-grid span:nth-child(24) { animation-delay: calc(1.2s * var(--animation-speed)); }
#tile-grid span:nth-child(25) { animation-delay: calc(1.25s * var(--animation-speed)); }
#tile-grid span:nth-child(26) { animation-delay: calc(1.3s * var(--animation-speed)); }
#tile-grid span:nth-child(27) { animation-delay: calc(1.35s * var(--animation-speed)); }
#tile-grid span:nth-child(28) { animation-delay: calc(1.4s * var(--animation-speed)); }
#tile-grid span:nth-child(29) { animation-delay: calc(1.45s * var(--animation-speed)); }
#tile-grid span:nth-child(30) { animation-delay: calc(1.5s * var(--animation-speed)); }
#tile-grid span:nth-child(31) { animation-delay: calc(1.55s * var(--animation-speed)); }
#tile-grid span:nth-child(32) { animation-delay: calc(1.6s * var(--animation-speed)); }

@keyframes slideIn {
    from {
        opacity: 0.0;
        transform: translateX(-100%) scale(0.3);
    }
    to {
        opacity: 1;
        transform: translateX(0) scale(1);
    }
}

#tile-grid span:hover {
    transform: scale(1.1);
    filter: brightness(1.3);
    z-index: 10;
}
